<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/listado-pedidos">Listado de Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pedidos">Pedido Actual</a>
      </li>

     
      
      <li class="navbar-text">
        {{this.pedidosServicio.pedido.nombreCliente}}
      </li>
    </ul>
  </div>
</nav>