<div class="container">
  <form action="" [formGroup]="formularioAgregar" >
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>

    <div class="form-group">
        <label for="">Descrición</label>
        <textarea cols="30" rows="5" formControlName="descripcion" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="">Precio</label>
      <input type="number" formControlName="precio" class="form-control">
   </div>

    <button [disabled]="!formularioAgregar.valid" class="btn btn-primary" (click)="agregar()">Agregar Producto</button>
  </form>

  <input type="text" [(ngModel)]="tom">
</div>