<div class="container mt-5">
  <form action="" class="form-group">
    <input class="form-control" (input)="buscarProductos($event.target.value)" placeholder="Busque un producto..." type="text" >
  </form>

  <button routerLink="/agregar-productos" class="btn btn-primary">Agregar Producto Nuevo</button>
  <div class="row mt-4">
    <div class="col-sm-3" *ngFor="let producto of productos">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <h6 class="card-subtitle">{{producto.productoID}}</h6>
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text">{{producto.precio | currency : 'Lps: '}}</p>
     
              <button (click)="agregar(producto)" class="btn btn-primary">Agregar</button>
   
            </div>
        </div>
    </div>

</div>
