<div class="container">
    <form action="" [formGroup]="formularioAgregar" >
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control">
      </div>

      <div class="form-group">
          <label for="">Apellido</label>
          <input type="text" formControlName="apellido" class="form-control">
      </div>

      <div class="form-group">
          <label for="">Dirección</label>
          <textarea cols="30" rows="5" formControlName="direccion" class="form-control"></textarea>
      </div>

      <button [disabled]="!formularioAgregar.valid" class="btn btn-primary" (click)="agregar()">Agregar Cliente</button>
    </form>

</div>