<div class="container mt-5">

  <form action="" class='form-group'>
    <input class='form-control' type="text"  placeholder="Busque un cliente...">
  </form>

  <div class="row">
    <div class="col-sm-3" >
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Juan Perez</h5>
              <h6 class="card-subtitle"></h6>
              <p class="card-text">5 calle, 5 avenida, barrio el centro SO, San Pedro Sula, Cortes Honduras</p>
      
              <a href="" class='card-link'>Agregar</a>
              <a href="" class='card-link'>Información</a>
            </div>
        </div>
    </div>
</div>
