
<div class="btn-group">


  <button class="btn btn-primary" (click)="guardarCliente()">Guardar Cliente</button>
  <button class="btn btn-primary" (click)="guardarProductos()">Guardar Productos</button>
  <button class="btn btn-danger" (click)="eliminarClientes()">Eliminar Clientes </button>
  <button class="btn btn-danger" (click)="eliminarProductos()">Eliminar Productos </button>
  <button class="btn btn-danger" (click)="eliminarTodos()">Eliminar Todos </button>

</div>

<div class="container">
  <div class="clientesContenedor" *ngFor="let cliente of cLientesLocales">
      <p>Cliente:  {{cliente.nombre}}</p>
      <p>Edad: {{ cliente.edad}} </p>
  </div>
</div>

<div class="container">
  <div class="productosContenedor" *ngFor="let producto of productosLocales">
      <p>Producto:  {{producto.nombre}}</p>
      <p>Precio: {{ producto.precio | currency: 'Lps: '}} </p>
  </div>
</div>